<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>dashboard</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="public/css/chat.css">
</head>

<body>
  <div id="myNav" class="overlay">
    <!-- Button to close the overlay navigation -->
    <a href="javascript:void(0)" class="closebtn" onclick="closeSlideNav()">&times;</a>
    <!-- Overlay content -->
    <div class="overlay-content">
    </div>
  </div>
  <div id="userNav" class="overlay">
    <!-- Button to close the overlay navigation -->
    <a href="javascript:void(0)" class="closebtn" onclick="closeSlideUser()">&times;</a>
    <!-- Overlay content -->
    <div class="overlay-content">
    </div>
  </div>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
    </div>
  </nav>
  <div class="header">
    <div class="team-menu">Team Awesome</div>
    <div class="channel-menu"><span class="channel-menu_name">
        <span class="channel-menu_prefix">#</span> person</span>
    </div>
  </div>
  <div class="main">
    <div class="listings3">


    </div>
    <div class="listings">
      <div class="listings_channels">
        <h2 class="listings_header">Channels</h2>
        <ul class="channel_list">
          <li class="channel active"><a class="channel_name"><span class="unread">0</span><span><span class="prefix">#</span>admin</span></a></li>
          <li class="channel"><a class="channel_name"><span class="unread">10</span><span><span class="prefix">#</span>general</span></a></li>
        </ul>
      </div>
      <div class="listings_direct-messages">
        <h2 class="listings_header">Direct Messages</h2>
        <ul class="channel_list">
          <li class="channel"><a class="channel_name">
              <span class="unread">20</span><span><span class="prefix"> 
                </span>kryton</span>
                </a></li>
        </ul>
      </div>
    </div>
    <div class="listings2">
      <div class="listings_channels">
        <h2 class="listings_header">users</h2>
        <ul class="channel_list">
          <li class="channel active"><a class="channel_name"><span class="unread">0</span><span><span class="prefix">#</span>admin</span></a></li>
          <li class="channel"><a class="channel_name"><span class="unread">10</span><span><span class="prefix">#</span>general</span></a></li>
        </ul>
      </div>
      <div class="listings_direct-messages">
        <h2 class="listings_header">Direct Messages</h2>
        <ul class="channel_list">
          <li class="channel"><a class="channel_name">
              <span class="unread">20</span><span><span class="prefix"> 
                </span>kryton</span>
                </a></li>
        </ul>
      </div>
    </div>
    <div class="message-history" id="style-10">
      <div class="message">
        <a href="">
          <li class="material-icons message_profile-pic">person</li>
        </a><a class="message_username" href="">louisdante9</a><span class="message_timestamp">1:31 AM</span><span class="message_star"></span>
        <span
          class="message_content">Slack Technologies, Inc. (originally Tiny Speck) is a computer software startup founded in 2009, with personnel located
          in Vancouver, San Francisco and Dublin. The core team is largely drawn from the founders of Ludicorp, the company
          that created Flickr. Slack is the fastest company to receive a billion dollar valuation.</span>
      </div>
      <div class="message">
        <a href="">
          <li class="material-icons message_profile-pic">person</li>
        </a><a class="message_username" href="">louisdante9</a><span class="message_timestamp">1:31 AM</span><span class="message_star"></span>
        <span
          class="message_content">Rather than trying to make your own, use RocketMail instead.</span>
      </div>
      <div class="message">
        <a href="">
          <li class="material-icons message_profile-pic">person</li>
        </a><a class="message_username" href="">louisdante9</a><span class="message_timestamp">1:31 AM</span><span class="message_star"></span>
        <span
          class="message_content">Slack Technologies, Inc. (originally Tiny Speck) is a computer software startup founded in 2009, with personnel located
          in Vancouver, San Francisco and Dublin. The core team is largely drawn from the founders of Ludicorp, the company
          that created Flickr. Slack is the fastest company to receive a billion dollar valuation.</span>
      </div>
      <div class="message">
        <a href="">
          <li class="material-icons message_profile-pic">person</li>
        </a><a class="message_username" href="">louisdante9</a><span class="message_timestamp">1:31 AM</span><span class="message_star"></span>
        <span
          class="message_content">Rather than trying to make your own, use RocketMail instead.</span>
      </div>
      <div class="message">
        <a href="">
          <li class="material-icons message_profile-pic">person</li>
        </a><a class="message_username" href="">louisdante9</a><span class="message_timestamp">1:31 AM</span><span class="message_star"></span>
        <span
          class="message_content">Slack Technologies, Inc. (originally Tiny Speck) is a computer software startup founded in 2009, with personnel located
          in Vancouver, San Francisco and Dublin. The core team is largely drawn from the founders of Ludicorp, the company
          that created Flickr. Slack is the fastest company to receive a billion dollar valuation.</span>
      </div>
      <div class="message">
        <a href="">
          <li class="material-icons message_profile-pic">person</li>
        </a><a class="message_username" href="">louisdante9</a><span class="message_timestamp">1:31 AM</span><span class="message_star"></span>
        <span
          class="message_content">Rather than trying to make your own, use RocketMail instead.</span>
      </div>
      <div class="message">
        <a href="">
          <li class="material-icons message_profile-pic">person</li>
        </a><a class="message_username" href="">louisdante9</a><span class="message_timestamp">1:31 AM</span><span class="message_star"></span>
        <span
          class="message_content">Slack Technologies, Inc. (originally Tiny Speck) is a computer software startup founded in 2009, with personnel located
          in Vancouver, San Francisco and Dublin. The core team is largely drawn from the founders of Ludicorp, the company
          that created Flickr. Slack is the fastest company to receive a billion dollar valuation.</span>
      </div>
      <div class="message">
        <a href="">
          <li class="material-icons message_profile-pic">person</li>
        </a><a class="message_username" href="">louisdante9</a><span class="message_timestamp">1:31 AM</span><span class="message_star"></span>
        <span
          class="message_content">Rather than trying to make your own, use RocketMail instead.</span>
      </div>
      <div class="message">
        <a href="">
          <li class="material-icons message_profile-pic">person</li>
        </a><a class="message_username" href="">louisdante9</a><span class="message_timestamp">1:31 AM</span><span class="message_star"></span>
        <span
          class="message_content">Slack Technologies, Inc. (originally Tiny Speck) is a computer software startup founded in 2009, with personnel located
          in Vancouver, San Francisco and Dublin. The core team is largely drawn from the founders of Ludicorp, the company
          that created Flickr. Slack is the fastest company to receive a billion dollar valuation.</span>
      </div>
      <div class="message">
        <a href="">
          <li class="material-icons message_profile-pic">person</li>
        </a><a class="message_username" href="">louisdante9</a><span class="message_timestamp">1:31 AM</span><span class="message_star"></span>
        <span
          class="message_content">Rather than trying to make your own, use RocketMail instead.</span>
      </div>
      <div class="message">
        <a href="">
          <li class="material-icons message_profile-pic">person</li>
        </a><a class="message_username" href="">louisdante9</a><span class="message_timestamp">1:31 AM</span><span class="message_star"></span>
        <span
          class="message_content">Slack Technologies, Inc. (originally Tiny Speck) is a computer software startup founded in 2009, with personnel located
          in Vancouver, San Francisco and Dublin. The core team is largely drawn from the founders of Ludicorp, the company
          that created Flickr. Slack is the fastest company to receive a billion dollar valuation.</span>
      </div>
      <div class="message">
        <a href="">
          <li class="material-icons message_profile-pic">person</li>
        </a><a class="message_username" href="">louisdante9</a><span class="message_timestamp">1:31 AM</span><span class="message_star"></span>
        <span
          class="message_content">Rather than trying to make your own, use RocketMail instead.</span>
      </div>
      <div class="message">
        <a href="">
          <li class="material-icons message_profile-pic">person</li>
        </a><a class="message_username" href="">louisdante9</a><span class="message_timestamp">1:31 AM</span><span class="message_star"></span>
        <span
          class="message_content">Slack Technologies, Inc. (originally Tiny Speck) is a computer software startup founded in 2009, with personnel located
          in Vancouver, San Francisco and Dublin. The core team is largely drawn from the founders of Ludicorp, the company
          that created Flickr. Slack is the fastest company to receive a billion dollar valuation.</span>
      </div>
    </div>
  </div>

  <div id="footer">
    <div class="row">
      <div class="col s2 m2 l2">
        <div class="user-menu">
          <p class="user-menu_username"><span class="large material-icons">person_pin</span> louisdante</p>
        </div>
      </div>
      <div class="col s8 m8 l8">
        <div class="row">
          <div class="col l2 m2 s2">
            <div class="fixed-action-btn vertical">
              <a class="btn-floating btn-small grey darken-2">
                  <i class="material-icons">mode_edit</i>
                </a>
              <ul>
                <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
                <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
                <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
              </ul>
            </div>
          </div>
          <div class="col l10 m10 s10 chat-footer">
            <div class="row">
              <form class="col s12">
                <div class="row">
                  <div class="input-field col s6 inputBox">
                    <!-- <i class="material-icons prefix">mode_edit</i> -->
                    <input type="email" id="inputEmail" class="form-control" placeholder=" Enter message here" required autofocus style="position: relative; left: 25px;  top: -20px;">
                    <!-- <label for="icon_prefix2">Write message here</label> -->
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col s2 m2 l2">
        <div class="users-footer">
          <button type="submit" class="btn" onclick="openSlideUser()">Add users</button>
        </div>
      </div>
    </div>
  </div>
</body>
<!--end -->
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $("#myModal").on('shown.bs.modal', function () {
      $(this).find('input[type="text"]').focus();
    });
  });
  function openSlideNav() {
    document.getElementById("myNav").style.width = "100%";
  }
  /* Set the width of the side navigation to 0 */
  function closeSlideNav() {
    document.getElementById("myNav").style.width = "0";
  }
  function openSlideUser() {
    document.getElementById("userNav").style.width = "100%";
  }
  /* Set the width of the side navigation to 0 */
  function closeSlideUser() {
    document.getElementById("userNav").style.width = "0";
  }
</script>

</html>