
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Post-IT</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

   

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

<!--start of body-->
  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">            
              <h3 class="masthead-brand">
                <a class="logo" href="/">Post-IT</a>
                  <img src="/img/logo.fw.png" alt="">
              </h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="/contact">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>


      <div class="jumbotron">
        <h1>Hi, there</h1>
        <p class="lead">Welcome to PostIt Message Board. You can find the groups you belong and real time
            notification as they come. Its that easy, creat a group and start Posting it. 'Monsibayo'...Naruto!</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Create Group</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="col-lg-6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>

<div class="inner cover">
            <div class="jumbotron">
              <h1>Hi, there</h1>
              <p class="lead">Welcome to PostIt group. To start simplely click on the button below, its that simple. 'Monsibayo'...Naruto!</p>
              
            </div>
             <div class="messages">
                  <!-- Button HTML (to Trigger Modal) -->
                  <a href="#myModal" class="btn btn-lg btn-default" data-toggle="modal">Post-IT</a>
                  
                  <!-- Modal HTML -->
                  <div id="myModal" class="modal fade">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                  <h4 class="modal-title">Post your messages to this group</h4>
                              </div>
                              <div class="modal-body">
                                  <form>
                                      <div class="form-group">
                                          <label for="priority">priority</label>
                                          <select class="form-control" id="priority">
                                            <option value="">Normal</option>
                                            <option value="">High</option>
                                            <option value="">Critical</option>
                                          </select>
                                      </div>
                                      <div class="form-group">
                                          <label for="inputComment">Messages</label>
                                          <textarea class="form-control" id="inputComment" rows="4"></textarea>
                                      </div>
                                  </form>
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-success">Send</button>
                                  <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                  
                              </div>
                          </div>
                      </div>
                  </div>
              </div>     
             <!--this is where the message would be type and showed for each group-->
         </div>
          <footer class="footer">
                <p>&copy; 2016 Company, Inc.</p>
        </footer>
        </div>
      </div>
    </div>
<!--end -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/js/bootstrap.min.js"></script>

  </body>
</html>
