
// colors:

$color-brand-blue: #181B48;
$color-brand-black: #040000;
$color-white: #ffffff;
$color-link-normal: #26a69a;


// font sizes:

$font-size-base: 16px;
$font-size-lg: 4.2rem;
$font-size-md: 2.56rem;

// font families:

$font-family-primary: 'Montserrat', sans-serif;