/* Custom default button */

.btn {
  color: #fff;
  text-shadow: none;
  /* Prevent inheritance from `body` */
  /* border-radius: 170px; */
  &:hover, &:focus {
    color: #fff;
    text-shadow: none;
    /* Prevent inheritance from `body` */
    /* border-radius: 170px; */
  }
}

p {
  padding: 5px;
  font-size: 20px;
}

/*
 * Base structure
 */

html, body {
  background-color: #fff;
  color: #4d394b;
  max-height: 100%;
  padding: 0;
  margin: 0;
  overflow: scroll;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  /* For at least Firefox */
  min-height: 100%;
  text-align: center;
  margin-top: 40px;
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */

.inner {
  padding: 30px;
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
  .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
  }
}

/* Custom page footer */

.footer {
  padding-top: 19px;
  color: #4364d1;
  border-top: 1px solid #e5e5e5;
}

/*
 * Footer
 */

.mastfoot {
  color: #999;
  /* IE8 proofing */
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 40px;
  width: 100%;
  background: #e0e0e0;
  p {
    font-size: 15px;
    color: black;
    padding-bottom: 20px;
  }
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead, .mastfoot, .cover-container {
    width: 100%;
    /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (max-width: 992px) {
  .masthead, .mastfoot, .cover-container {
    width: 700px;
  }
}

.messages {
  margin: 20px;
}

/* The side navigation menu */

.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 250px;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    &:hover {
      color: #f1f1f1;
    }
  }
}

/* The navigation menu links */

/* When you mouse over the navigation links, change their color */

.offcanvas a:focus {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
    a {
      font-size: 18px;
    }
  }
}

.icon-bar {
  height: 80%;
  width: 50px;
  /* Set a specific width */
  background-color: #F59484;
  /* Dark-grey background */
}

.material-icons {
  color: grey;
  padding-top: 5px;
}

.icon-bar a {
  display: block;
  /* Make the links appear below each other instead of side-by-side */
  text-align: center;
  /* Center-align text */
  padding: 16px;
  /* Add some padding */
  transition: all 0.3s ease;
  /* Add transition for hover effects */
  color: white;
  /* White text color */
  font-size: 20px;
  /* Increased font-size */
  &:hover {
    background-color: #000;
    /* Add a hover color */
  }
}

/* .active {
    background-color: #4CAF50; /* Add an active/current color 
} */
/* The Overlay (background) */

.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  margin-top: 7px;
  height: 100%;
  width: 0;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */

.overlay-content {
  position: relative;
  top: 25%;
  /* 25% from the top */
  width: 100%;
  /* 100% width */
  text-align: center;
  /* Centered text/links */
  margin-top: 30px;
  /* 30px top margin to avoid conflict with the close button on smaller screens */
}

.overlay {
  p {
    padding: 8px;
    font-size: 15px;
    color: #f1f1f1;
  }
  a {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    transition: 0.3s;
    /* Transition effects on hover (color) */
    &:hover, &:focus {
      color: #f1f1f1;
    }
  }
  .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    margin-left: 50px;
  }
}

/* The navigation links inside the overlay */

/* When you mouse over the navigation links, change their color */

/* Position the close button (top right corner) */

/* 
* When the height of the screen is less than 450 pixels, 
*  change the font-size of the links and position the close 
* button again, so they don't overlap 
*/
@media screen and (max-height: 450px) {
  .overlay {
    a {
      font-size: 20px;
    }
    .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
}

/*
* style for the materialize css nav bar
*/

nav {
  height: 40px;
  line-height: 40px;
  i, [class^="mdi-"], [class*="mdi-"], i.material-icons, .button-collapse i {
    height: 40px;
    line-height: 30px;
  }
  .brand-logo {
    font-size: 1rem;
    display: inline-block;
    height: 100%;
    padding-left: 40px;
  }
}

@media only screen and (min-width: 601px) {
  nav {
    height: 40px;
    line-height: 30px;
    .nav-wrapper i {
      height: 40px;
      line-height: 30px;
    }
    a.button-collapse {
      height: 40px;
      line-height: 30px;
      i {
        height: 40px;
        line-height: 30px;
      }
    }
  }
}

/*
*style for the dashboard page
*/

.body-container {
  background-color: rgba(0, 0, 0, 0.51);
}

.authentication {
  margin-right: 50%;
}

.container {
  max-width: 100% !important;
  width: 98% !important;
}

#email-details {
  margin-left: 10px;
}

.collection .collection-item.avatar {
  min-height: 0px !important;
}

.group-collection {
  padding-left: 10px !important;
  /*font-style: italic;*/
  font-weight: 600;
}

.group-channel {
  padding-left: 10px !important;
  font-weight: 400;
}

span.bad.new {
  font-weight: 300;
  font-size: 1.1rem;
  color: #fff;
  background-color: #c24141;
  border-radius: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.email-tag {
  font-size: 18px !important;
}

.time-text {
  font-size: 12px;
}

span {
  &.bad {
    margin-left: 14px;
    text-align: center;
    font-size: 1.3rem;
    line-height: 24px;
    height: 25px;
    color: #757575;
    float: right;
    box-sizing: border-box;
  }
  &.send {
    margin-left: 5px;
    font-weight: 300;
    text-align: center;
    font-size: 1rem;
    line-height: 35px;
    height: 35px;
    margin-top: 11px;
    color: #fff;
    float: right;
    box-sizing: border-box;
    background-color: #59983b;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.secondary-content {
  top: 9px !important;
}

#email-list {
  height: calc(100vh - 99px);
  overflow: scroll;
}

.model-email-content {
  padding: 24px;
}

#email-details {
  height: calc(100vh - 99px);
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

#message-board {
  overflow: auto;
  margin-top: 10px;
  > .row {
    margin-bottom: 0px !important;
  }
}

#text-input {
  padding-right: 10px;
  padding-left: 10px;
}

#text-area {
  border: 1px solid #ccc;
  outline: none;
  line-height: 40px;
  text-indent: 10px;
  resize: none;
  top: -4px;
  right: 5px;
  width: 70%;
  display: inline-block;
}

.message-text {
  font-size: 14px;
  font-weight: 300;
}

.send-icon {
  float: left;
  margin-top: 20px;
}

select {
  display: inline-block;
  top: 2px;
  width: 15px;
}